<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="path" value="/Scripts" />
  </appSettings>
  <connectionStrings>
    <add name="AppreciationContext" connectionString="Data Source=DESKTOP-HN79NJ3\SQLEXPRESS01;Initial Catalog=AppreciationDb;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>